.App {
  background-color: #101224;
  overflow: hidden;
}
.pagePaddingTop{
  padding-top: 10rem;
}
.commonBtn {
  border: none;
  outline: none;
  color: #fff;
  background-color: #0076FF;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 30px;
  border-radius: 20px;
  text-transform: capitalize;
  transition: all 0.3s ease;
  text-decoration: none;
}

.commonBtn:hover {
  box-shadow: 1px -2px 35px -7px rgba(0, 119, 255, 0.712);
  -webkit-box-shadow: 1px -2px 35px -7px rgba(0, 119, 255, 0.712);
  -moz-box-shadow: 1px -2px 35px -7px rgba(0, 119, 255, 0.712);
  color:#fff;

}

.App .MySize {
  width: 80%;
  margin: 0 auto;
}
















/* scroll bar  */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101224;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0076FF;
  border-radius: 10px;
}
.navbarFreeTrail{
  padding-right: 10px !important;
}
.navbarFreeTrail{
  float: right;
}


/* responsive for mobile  */
@media screen and (max-width:768px) {
  .ServicePageTopPara{
    width:100% !important;
  }
  .navbarArea .topbar .topbarRight{    
    display: none !important;
  } 
  .sliderArea{
    display: none;
  }
  .copyrightInner{
    display: block !important;
  }

  .MainArea .mainAreaInner .mainAreaLeft h2 {
    font-size: 30px !important;
    font-weight: 700;
    width:100% !important;
  }

  .hostingPlanInnerTop h2 {
    width: 100% !important;
  }

  .priceCard {
    height: auto !important;
  }

  .hostingPlanInnerTop .monthlyPlanTextOnly {
    width: 90% !important;
  }

  .hostingPlanInnerTop h2 {
    font-size: 25px !important;
  }

  .serverLocation .mapArea {
    height: 250px !important;
  }

  .serverLocation .aus {
    left: 80% !important;
  }

  footer .copyright .copyrightInner {
    display: initial !important;
    text-align: center;
  }
}
@media screen and (min-width:2400px) {
  .MySize{
    max-width: 1440px;
    margin:0 auto;
  }
  .MainArea{
    min-height: initial !important;
    height: 500px !important;
    max-width: 1440px;
    margin:0 auto;
    padding:0 50px;
  }
  .navbar .navbarInner{
    padding:0 100px;
  }
  .topbar{
    max-width: 1440px;
    margin:0 auto;
  }  
}